* {
    margin: 0;
    padding: 0;
}

.container {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: column;
    font-weight: bold;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.container > * {
    flex: 1 100%;
}

.header {
    background: #b93a5c;
    background: white;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
}

.body {
    background: aquamarine;
    padding-top: 15%;
}

.infos {
    margin-top: 1%;
    font-family: arial;
    font-weight: 200;
}

.infos p {
    color: whitesmoke;
    color: black;
    font-size: 0.8vw;
    font-family: arial;
    font-weight: 200;
}

@media (max-width: 800px) {
    .infos, .docphoto {
        display: none !important;
    }
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.docphoto {
    border: 2px solid black;
}

.sidebarItemButton {
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 20px 22px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    margin-right: 4px;
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 0.8vw;
    font-weight: 200;
}

.sidebarItemButton:hover {
    background-color: #da5378;
    color: whitesmoke;
}



/* END OF HEADER CSS */

.sidebarItemButton-footer {
    background-color: #b93a5c;
    padding: 5px 10px;
    text-align: center;
    transition-duration: 0.4s;
    border: none;
    font-family: arial;
    font-size: 0.8vw;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

    .sidebarItemButton-footer:hover {
        background-color: #da5378;
        color: whitesmoke;
    }

.footer {
    background: #b93a5c;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

.sidebarItemButton-footer2 {
    background-color: #b93a5c;
    padding: 5px 10px;
    text-align: center;
    transition-duration: 0.4s;
    border: none;
    font-family: arial;
    font-size: 0.8vw;
    font-weight: 200;
    text-decoration: none;
}

.sidebarItemButton-footer2:hover {
    color: whitesmoke;
}

/* END OF FOOTER */


.body{
    background-color: whitesmoke;
    font-family: arial;
    font-weight: 200;
}

.notice {
    background: white;
    margin-top: 7%;
    background-color: whitesmoke;
    width: 100%;
    text-align: left;
    font-family: arial;
    font-weight: 200;
    font-size: 20px;
    padding-left: 1%;
    padding-bottom: 2.5rem;
}

.services2 {
    background: white;
    padding-left: 3%;
    background-color: whitesmoke;
    font-size: 20px;
    text-align: left;
    font-family: arial;
    font-weight: 200;
    width: 50%;
}
