* {
    margin: 0;
    padding: 0;
}

.container {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: column;
    font-weight: bold;
    text-align: center;
}

.container > * {
    flex: 1 100%;
}

.header{
    background: #b93a5c;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 15%;
    border-bottom: 2px solid black;
}

.body{
    background: whitesmoke;
    padding-top: 15%;
}

.infos {
    
}

.infos p {
    color: white;
    font-size:0.8vw;
}

@media only screen and (max-width 1200px) {
    .infos {
        display: none !important;
    }
}

.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.docphoto {
    border: 2px solid black;
}

.sidebarItemButton{
    background-color: white;
    border: 2px solid black;
    padding: 20px 22px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    transition-duration:0.4s;
}

.sidebarItemButton:hover{
    background-color: #da5378;
    color: white;
}

/* END OF HEADER CSS */

.sidebarItemButton-footer {
    background-color: #b93a5c;
    padding: 5px 10px;
    text-align: center;
    transition-duration:0.4s;
    border: none;
}

.sidebarItemButton-footer:hover {
    background-color: #da5378;
    color: white;
}

.footer {
    background: #b93a5c;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    border-top: 2px solid black;
}

/* END OF FOOTER */

.blogBody{
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.blogEntry{
    color: green;
    width: 50%;
}

.leftcolumn {
    float: left;
    width: 75%;
    padding: 50px;

}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {

    border-left: 4px solid #912441;
    border-right: 4px solid #912441;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.h2{
    background-color: azure;
    font: arial;
    font-weight: 200;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    transition-duration:0.4s;
}

.h2:hover{
    background-color: #912441;
    font: arial;
    font-weight: 200;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
}
.fa:hover{
    opacity: 0.7;
}
